<h1>Session#Delete user account</h1>

<%= link_to "Yes", '/sessions/delete_account', {:id => "upload" , :style => 'color:#000'} %>
<br>
<br>
<%= link_to "No", '/sessions/customer', {:id => "upload" , :style => 'color:#000'} %>