<div class = "deletepage">
<h5>Are you sure ?</h1>

<div class="button_delete" ><%= link_to "Yes", '/sessions/delete_account', {:id => "delete-confirm" , :style => 'color:#000'} %> </div>

<div class="button_delete" ><%= link_to "No", '/sessions/customer', {:id => "delete-reject" , :style => 'color:#000'} %></div>
</div>