
body {
  
  background-color: #ffffff;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;

}
img.normal {
  height:auto;
}
a img {
  border: none;
}

a {
  color: #000000;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/*#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  
  margin-top: 20px;
  position: relative;
}*/
@font-face {
    font-family: 'Circula';
    src: url('/assets/circula-medium.otf');
    font-weight: normal;
    font-style: normal;
}
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  margin-right: 150px;
}

#welcome { height: 10em; padding-top: 1em; ; width : 100%; 
  background: #333742; color: #FFFFFF}



#welcome h1 {font-family: 'Circula'; font-size: 72px ;letter-spacing: 10px; text-align: center}

/*#welcome h1 #logo{padding: 10px;}*/

.loginwith { height: 40px; padding-top: 0em; text-align: center; width : 540px; margin-top: 5em; margin-left: auto; margin-right: auto;
  background: #f65a5b; color: #FFFFFF; background-position: center}
.loginwith h1 { margin: 0; padding-top: 3px; font-family: 'Circula'; font-size: 30px ; letter-spacing: 2px}

/*#twitter-auth {margin-left: auto; margin-right: auto; margin-bottom: 10px}
#google-auth { padding-right : 2px;}

#facebook-auth {padding-right : 2px;}



#github-auth {padding-left : 2px;}

#amazon-auth {padding-left : 2px;}
*/


#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.field_with_errors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

form .field, form .actions {
  margin: 12px 0;
}
