
body {
  
  background-color: #ffffff;
  font-family: Helvetica Neue , Arial, Verdana;
  font-size: 12px;

}
img.normal {
  height:auto;
}
a img {
  border: none;
}

a {
  color: #000000;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/*#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  
  margin-top: 20px;
  position: relative;
}*/
/*@font-face {
    font-family: Helvetica Neue;
    src: url('/assets/circula-medium.otf');
    font-weight: normal;
    font-style: normal;
}*/

/*input[type="submit"]
{
  width:80px;
  height: 35px;
  margin: auto;
  background:url(submit.jpg);
}*/

textarea {
 
  
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  font-family: Helvetica Neue;
  font-size: 1em;
  padding: 4px 6px;

  transition: background-color 0.5s ease 0s;
}
textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

#flash_notice, #flash_error, #flash_alert {
 /* padding: 5px 8px;*/
  /*margin: 10px 0;
  margin-right: 150px;*/
}

.formcode {text-align: center; padding-top: 5px}

#welcome {height: 10em ; width : 100%; padding-top: 5px;letter-spacing: 5px;
  background: #333742; color: #FFFFFF}
#welcome h1 {font-family: 'Circula'; letter-spacing: 5px;font-size: 72px ;
  letter-spacing: 5px; text-align: center; margin: 0px auto;}

.up_view {height: 5em; width: 10em;}
.account{text-align: right}
.vendor_home_numcode {background: #d7d7d7;  margin-left:  auto; margin-right:auto; width: 200px; height: 80px; border-radius: 2px; margin-top: 15px }
.vendor_home_numcode p {text-align: left; margin-left: 5%; font-size: 12px;color: #000000}
.vendor_home_numcode p.r1{padding-top:20px}


/*p {font-size: 12px; text-align: right; color: #000000}*/

/*#welcome h1 #logo{padding: 10px;}*/
.customer { height: 40px; text-align: center; width : 300px; margin-top: 5em; margin-left: auto; margin-right: auto;
  background: #05e177; color: #FFFFFF; background-position: center; margin-top: 10px}
.customer h1 { margin: 0; padding-top: 3px; font-family: Helvetica Neue; font-size: 30px ; letter-spacing: 2px}

.vendor { height: 40px; text-align: center; width : 300px; margin-top: 5em; margin-left: auto; margin-right: auto;
  background: #44c4ff; color: #FFFFFF; background-position: center; margin-top: 10px}
.vendor h1 { margin: 0; padding-top: 3px; font-family: Helvetica Neue; font-size: 30px ; letter-spacing: 2px}

.loginwith { height: 40px; text-align: center; width : 540px; margin-top: 5em; margin-left: auto; margin-right: auto;
  background: #333742; color: #FFFFFF; background-position: center}
.loginwith h1 { margin: 0; padding-top: 3px; font-family: Helvetica Neue; font-size: 30px ; letter-spacing: 2px}




#description {text-align: left; padding-left: 5px}

/*#twitter-auth {margin-left: auto; margin-right: auto; margin-bottom: 10px}
#google-auth { padding-right : 2px;}

#facebook-auth {padding-right : 2px;}



#github-auth {padding-left : 2px;}

#amazon-auth {padding-left : 2px;}
*/
.customer_notice {color:red; text-align: center; font-style: italic;}

.vendor_table table {margin-top: 20px;border-collapse: collapse; margin-left: auto; margin-right: auto ;width: 90%;}
.vendor_table table, th { border :none}
.vendor_table table, tr, td { border : none; height:40px}
.vendor_table table, td {border-left : solid 1px #5a6065; border-right: solid 1px #5a6065}

.vendor_table table, tr, td {text-align: center}
.middle{text-align: center}
.customer_table table {border-collapse: collapse; border: 0px;width : 100%;margin-left: auto; margin-right: auto;}
.customer_table table tr td {border-collapse: collapse; border: 0px;}
.customer_table table, tr,td {border-collapse: collapse; }
.customer_table{margin-top: 20px; background: #f0f0f0;border-radius: 2px;width : 60%;margin-left: auto; margin-right: auto;}

.codes {width:50%;}
.upload_text{font-size: 12px; font-family: Helvetica Neue;margin-left: auto; margin-right: auto;
              color: #000000; height : 20px;}

.header {height: 20px; font-family: Helvetica Neue; font-size: 12px;background: #5a6065; color: #FFFFFF}
.upload_vendor { margin-left: auto; margin-right: auto; font-family: Helvetica Neue}
.upload_vendor p.vendor_name {font-size: 24px; text-align: center; padding-top: 3px}


.backtohome {height: 40px; width:40px;text-align: left}
.history{text-align: center; font-size: 18px}
.vendor_header { height:40px; background: #5a6065;color : #FFFFFF; border-radius: 2px; font-size: 18px; font-family: Helvetica Neue; letter-spacing: 1px}

.vendor_group1 {text-align: left;padding-left: 10px;width: 120px; font-size: 12px; font-family: Helvetica Neue;letter-spacing: 1px}
.vendor_group2 {text-align: left;padding-left: 10px}
.vendor_odd {background : #d7d7d7}
.odd{background: #f0f0f0;}
.even{background: #d7d7d7;} 
/*#b2e4fa*/
.upload_group {text-align: center; margin-left: auto; margin-right: auto}

.row1 {text-align: center}
  



table td.vendor {text-align: center}
table tr.list {height : 100px;}
table tr.header th.vendor{ width: 200px}
table tr.header th.description { width: auto}
table tr.header th.code { width: 200px}
table tr.list td.description{  text-align: top;word-wrap: auto;}
table tr.list td.code{  text-align: top;word-wrap: auto;text-align: center}
.auth_providers {
  height: 150px;
  width: 540px;
  margin: 2px auto;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.field_with_errors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  /*margin-bottom: 20px;*/
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

form .field, form .actions {
  margin: 12px 0;
}
